* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 1300px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 530px;
  }
}
@media (max-width: 550px) {
  .container {
    max-width: 320px;
  }
}
.d6 {
  background: #B46381;
}
.d6 .form {
  height: 42px;
}
.d6 input {
  height: 100%;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.d6 input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #F9F0DA;
}
.d6 button {
  background: #683B4D;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 7px;
  right: 16px;
  cursor: pointer;
}
.d6 button::before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.nav-right {
  padding-right: 300px;
  color: #212121;
}
.nav-item {
  position: relative;
}
.nav-item:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 100%;
  width: 80%;
  height: 3px;
  background-color: #B46381;
  padding: 0;
  margin: 0;
  display: none;
}
.nav-item:hover:after {
  display: block;
}
.home {
  height: 660px;
  background: url('../img/home-bg.jpg') center no-repeat;
  background-size: cover;
}
.home-contant {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.home h1 {
  margin-bottom: 40px;
  font-size: 60px;
}
.home h3 {
  margin-bottom: 115px;
  font-size: 22px;
}
.home .pip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 700px) {
  .home .pip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.home .pip .btn {
  display: inline-block;
  border-radius: 0;
  height: 70px;
  width: 220px;
  color: #fff;
  z-index: 100;
  background-color: #00897b;
  margin-right: 15px ;
  outline: none;
  margin-bottom: 100px;
}
@media (max-width: 750px) {
  .home .pip .btn {
    margin-bottom: 15px;
  }
}
.home .pip .btn:hover {
  outline: 0 !important;
  background: none;
  color: #fff;
  border: #fff solid 3px;
}
.home .pip .btn:active,
.home .pip .btn:focus {
  outline: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  color: #fff;
  border: #fff solid 3px;
}
.col-md-8 {
  text-align: center;
}
.row {
  text-align: center;
}
.about {
  margin-bottom: 125px;
}
.about-title {
  text-align: center;
  font-size: 30px;
  line-height: 22px;
  padding: 125px 0 20px 0;
}
@media (max-width: 845px) {
  .about-title {
    margin: 25px 0 15px 0;
  }
}
@media (max-width: 768px) {
  .about-title {
    margin: 0px 0 15px 0;
    padding: 25px 0 0 0;
  }
}
.about-subtitle {
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 125px;
}
@media (max-width: 845px) {
  .about-subtitle {
    margin-bottom: 25px;
  }
}
.caption {
  font-size: 20px;
  line-height: 22px;
  margin: 25px 0 20px 0;
}
.text {
  font-size: 15px;
  line-height: 22px;
}
@media (max-width: 845px) {
  .row-icon {
    margin-bottom: 25px;
  }
}
.services {
  font-family: 'Open Sans', sans-serif;
  min-height: 900px;
  width: 100%;
  background-color: #e4fdf9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.services-items {
  min-height: 950px;
  width: 100%;
}
.services .services-item {
  display: inline-block;
  height: 440px;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  text-align: center;
  padding: 45px 20px 30px 20px;
}
.services .services-item .services-caption {
  font-size: 20px;
  line-height: 22px;
  margin: 25px 0 20px 0;
}
.services .services-item .services-text {
  font-size: 15px;
  line-height: 22px;
  margin: 25px 0 45px 0;
}
.services .services-item .services-btn {
  display: inline-block;
  border-radius: 0;
  height: 50px;
  width: 120px;
  background: none;
  text-transform: uppercase;
  color: #000;
  margin-right: 15px ;
  outline: none;
  margin-bottom: 100px;
}
@media (max-width: 550px) {
  .services .services-item {
    max-width: 250px;
    margin: 5px auto;
  }
}
.services-item:hover {
  background-color: #00897b;
  color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.services-item:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.services-item:hover .services-btn {
  color: #fff;
  background: #00897b;
  border-color: #fff;
}
.portfolio {
  min-height: 1650px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.portfolio-box {
  min-height: 950px;
  width: 1300px;
}
@media (max-width: 1200px) {
  .portfolio-box {
    max-width: 970px;
    padding: 0;
  }
}
.portfolio-box .portfolio-item {
  background-color: #000;
  display: inline-block;
  height: 350px;
  width: 350px;
  margin-right: 40px;
  margin-bottom: 40px;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.portfolio-box .portfolio-item .caption {
  color: #fff;
  position: absolute;
  top: 125px;
  left: 125px;
  display: none;
}
.portfolio-box .portfolio-item:hover .caption {
  display: block;
}
@media (max-width: 767px) {
  .portfolio-box .portfolio-item {
    display: block;
    margin: 40px auto;
  }
}
.portfolio .btn-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.portfolio .btn-box .btn {
  border: #00897b solid 3px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
}
.portfolio .btn-box .btn:hover {
  color: #fff;
  background-color: #00897b;
}
@media (max-width: 962px) {
  .portfolio .btn-box .btn {
    height: 70px;
    width: 300px;
    margin-bottom: 50px;
    line-height: 50px;
  }
}
.portfolio .btn-down {
  padding: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #00897b;
  height: 70px;
  width: 220px;
  line-height: 70px;
}
.portfolio .btn-down:hover {
  border: #00897b solid 3px;
  background: none;
  color: #000;
}
.price {
  padding-top: 10px;
  min-height: 1150px;
  width: 100%;
  background-color: #f0f1f1;
}
@media (max-width: 1200px) {
  .price {
    padding: 20px 20px;
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .price {
    padding: 20px 20px;
    margin-top: 20px;
  }
}
.price-box {
  height: 70%;
  width: 100%;
  text-align: center;
}
.price-box .price-item {
  display: inline-block;
  margin-left: 20px;
  height: 670px;
  width: 330px;
  background-color: #fff;
}
@media (max-width: 1200px) {
  .price-box .price-item {
    width: 270px;
    margin: 20px auto;
  }
}
@media (max-width: 992px) {
  .price-box .price-item {
    display: block;
    width: 370px;
    margin: 20px auto;
  }
}
.price-box .price-item .item-info {
  position: relative;
  height: 150px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3949ab), to(#3949ab));
  background-image: linear-gradient(#3949ab, #3949ab);
  color: #fff;
  padding: 25px;
}
.price-box .price-item .item-info .item-title {
  font-size: 22px;
  line-height: 25px;
}
.price-box .price-item .item-info .item-text {
  font-size: 17px;
  line-height: 22px;
}
.price-box .price-item .item-info .item-text strong {
  font-size: 25px;
  line-height: 32px;
}
.price-box .price-item .item-info svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2vw;
}
.price-box .price-item .features {
  list-style: none;
  color: gray;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 100px;
}
.price-box .price-item .features-item {
  position: relative;
  margin: 50px 50px;
}
.price-box .price-item .features-item:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: gray;
  position: absolute;
  left: 0;
  bottom: -10px;
  opacity: 0.6;
}
.price-box .price-item .btn-down {
  border: #00897b solid 3px;
  padding: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #00897b;
  height: 50px;
  width: 150px;
  line-height: 47px;
  margin: 0 auto;
}
.price-box .price-item .btn-down:hover {
  background: none;
  color: #000;
}
.price-box .price-item:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
@media (max-width: 1200px) {
  .price {
    max-width: 970px;
  }
}
@media (max-width: 767px) {
  .price {
    max-width: 530px;
  }
}
@media (max-width: 550px) {
  .price {
    max-width: 320px;
  }
}
.carousel-indicators li {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #00897b;
}
.carousel-indicators li.active {
  background-color: #3949ab;
}
.team {
  width: 100%;
  padding-bottom: 150px;
  text-align: center;
}
.team-box {
  width: 100%;
  text-align: center;
}
@media (max-width: 1200px) {
  .team-box {
    max-width: 530px;
    margin: 0 auto;
  }
}
.team-box .team-fig {
  display: inline-block;
  text-align: center;
}
.team-box .team-fig .team-caption {
  font-size: 20px;
  line-height: 24px;
}
.team-box .team-fig .team-text {
  font-size: 15px;
  line-height: 20px;
}
.team-box .team-fig .team-item img {
  max-width: 330px;
  margin: 0 20px 20px 0;
}
.team-box .team-fig .social-box {
  margin: 50px 0 100px 0;
}
.team-box .team-fig .social-box ul {
  max-width: 330px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}
.social-item:hover img {
  -webkit-filter: invert(30%);
          filter: invert(30%);
}
.blog {
  width: 100%;
  background-color: #e4fdf9;
  text-align: center;
}
.blog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog-box .blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
.blog-box .blog-item .blog-img img {
  max-width: 470px;
}
@media (max-width: 1200px) {
  .blog-box .blog-item .blog-img img {
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  .blog-box .blog-item .img-two {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media (max-width: 1200px) {
  .blog-box .blog-item .info-two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.blog-box .blog-item .blog-info,
.blog-box .blog-item .blog-img {
  max-width: 47%;
  display: inline-block;
  text-align: start;
  margin-right: 50px;
}
@media (max-width: 1200px) {
  .blog-box .blog-item .blog-info,
  .blog-box .blog-item .blog-img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
.blog-box .blog-item .blog-info .blog-header,
.blog-box .blog-item .blog-img .blog-header {
  display: block;
  color: #00897b;
  font-size: 25px;
  line-height: 20px;
  padding-left: 20px;
}
.blog-box .blog-item .blog-info data,
.blog-box .blog-item .blog-img data,
.blog-box .blog-item .blog-info .dev,
.blog-box .blog-item .blog-img .dev {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
}
.blog-box .blog-item .blog-info data,
.blog-box .blog-item .blog-img data {
  padding-left: 20px;
  margin: 20px 100px 20px 0;
}
.blog-box .blog-item .blog-info data:before,
.blog-box .blog-item .blog-img data:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 2px;
  height: 20px;
  width: 20px;
  background: url('/src/img/before-1.png') center no-repeat;
  z-index: 2;
}
.blog-box .blog-item .blog-info .dev:before,
.blog-box .blog-item .blog-img .dev:before {
  content: '';
  position: absolute;
  left: -24px;
  top: 2px;
  height: 20px;
  width: 20px;
  background: url('/src/img/before-2.png') center no-repeat;
  z-index: 2;
}
.blog-box .blog-item .blog-info .blog-caption,
.blog-box .blog-item .blog-img .blog-caption {
  font-size: 20px;
  line-height: 22px;
  max-width: 450px;
}
.blog .blog-btn {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 150px;
  border-radius: 0;
  height: 70px;
  width: 220px;
  color: #fff;
  z-index: 100;
  background-color: #00897b;
  margin-right: 15px ;
  outline: none;
  margin-bottom: 100px;
}
@media (max-width: 750px) {
  .blog .blog-btn {
    margin-bottom: 15px;
  }
}
.blog .blog-btn:hover {
  outline: 0 !important;
  color: #e4fdf9;
  background-color: #00564d;
}
.blog .blog-btn:active,
.blog .blog-btn:focus {
  outline: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #e4fdf9;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
}
.footer-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 22px;
  color: #525252;
}
.contact {
  width: 100%;
  background: url('../img/contact-bg.jpg') center no-repeat;
  color: #fff;
}
.contact-box {
  width: 100%;
}
.contact-box .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 10% 0 10%;
}
.contact-box .contact-info .contact-item img {
  margin-bottom: 15px;
}
.contact-box .contact-info .contact-item p {
  font-size: 20px;
  line-height: 22px;
  padding: 0;
  margin: 0;
}
.contact-box .contact-info .contact-item a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .contact-box .contact-info .contact-item {
    margin-bottom: 15px;
  }
}
@media (max-width: 992px) {
  .contact-box .contact-info {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .contact-box .contact-info {
    display: block;
    margin-bottom: 15px;
  }
}
.contact-box .contact-form {
  width: 100%;
  border: none;
  border-radius: 5%;
  padding: 0 10% 0 10%;
}
.contact-box .contact-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.contact-box .contact-form .form .input-iner {
  border-radius: 10px;
  width: 49%;
  height: 80px;
  margin: 20px 0 20px 0;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .contact-box .contact-form .form .input-iner {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
.contact-box .contact-form .form .text-iner {
  border-radius: 10px;
  width: 100%;
  padding: 20px 0 0 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .contact-box .contact-form .form .text-iner {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
.contact-box .contact-form .form .btn {
  width: 100px;
  height: 50px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  margin-bottom: 60px;
  margin-left: auto;
}
@media (max-width: 768px) {
  .contact-box .contact-form .form .btn {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */
