/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #621402;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  width: 90%;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
}

.header {
  margin-bottom: 63px;
  padding: 20px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(98, 20, 2, 0.31)), color-stop(85.62%, #621402)), url("../assets/image/main-bg.png") no-repeat top;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url("../assets/image/main-bg.png") no-repeat top;
  background-size: cover;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33px;
  position: relative;
}
.header-container .logo-icon {
  margin-right: 57px;
  position: relative;
}
.header-container .header-nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .header-container .header-nav .nav-menu {
    z-index: 15;
    position: absolute;
    top: 40px;
    left: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    background-color: #621402;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}
.header-container .header-nav .nav-menu .menu-item {
  margin-right: 25px;
  z-index: 10;
}
@media (max-width: 992px) {
  .header-container .header-nav .nav-menu .menu-item {
    margin-right: 20px;
  }
}
@media (max-width: 992px) {
  .header-container .header-nav .nav-menu .menu-item {
    padding: 3px;
  }
}
.header-container .header-nav .nav-menu .menu-item:last-child {
  margin-right: 0;
}
.header-container .header-nav .nav-menu .menu-item .menu-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}
.header-container .header-nav .nav-menu .menu-item .menu-link:hover {
  text-decoration: underline;
}
.header-container .header-nav .nav-menu.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header-container .header-nav .burger {
  width: 35px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 75px;
  z-index: 5;
  display: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header-container .header-nav .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-container .header-nav .burger span {
  height: 2px;
  width: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
}
.header-container .header-nav .burger:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  height: 2px;
  width: 35px;
  display: inline-block;
  background-color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header-container .header-nav .burger:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 35px;
  display: inline-block;
  background-color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header-container .header-nav .burger.active:before {
  top: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header-container .header-nav .burger.active:after {
  bottom: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header-container .header-nav .burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header-container .user {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
}
.header-container .user img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}
.header .film {
  color: white;
  margin-top: 90px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header .film {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header .film-info .film-subtitle {
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}
.header .film-info .film-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin: 11px 0 23px 0;
}
.header .film-info .film-descr {
  font-size: 16px;
  line-height: 150%;
  max-width: 560px;
  margin-bottom: 53px;
}
.header .film-info .film-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header .film-info .film-details {
    margin-bottom: 60px;
  }
}
.header .film-info .film-details .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 34px;
}
.header .film-info .film-details .time img {
  margin-right: 14px;
}
.header .film-info .film-details .time .time-text {
  font-size: 16px;
  line-height: 150%;
}
.header .film-info .film-details .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .film-info .film-details .rating img {
  margin-right: 12px;
}
.header .film-info .film-details .rating .rating-text {
  font-size: 16px;
  line-height: 150%;
}
.header .film-info .film-details .rating .rating-text .rating-current {
  font-size: 24px;
}
.header .film .film-trailer {
  margin: auto;
}
.header .film .film-trailer:hover {
  cursor: pointer;
}
.header .film .film-trailer:hover path {
  fill: #FFF;
}
.header .film .film-trailer:hover circle {
  fill: #F20D01;
}
.header .session-container .session-wrapper {
  padding: 46px 0 63px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 992px) {
  .header .session-container .session-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 960px) {
  .header .session-container .session-wrapper .date {
    margin-right: 45px;
  }
}
@media (max-width: 992px) {
  .header .session-container .session-wrapper .date {
    margin-right: 0;
    margin-bottom: 40px;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
.header .session-container .session-wrapper .date .date-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.header .session-container .session-wrapper .date .date-block .date-item {
  width: 90px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-right: 5px;
  padding: 9px 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 500px) {
  .header .session-container .session-wrapper .date .date-block .date-item {
    width: 70px;
    height: 70px;
    padding: 3px;
  }
}
.header .session-container .session-wrapper .date .date-block .date-item .day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
@media (max-width: 500px) {
  .header .session-container .session-wrapper .date .date-block .date-item .day {
    font-size: 24px;
    line-height: 26px;
  }
}
.header .session-container .session-wrapper .date .date-block .date-item:last-child {
  margin-right: 0;
}
.header .session-container .session-wrapper .date .date-block .date-item:hover {
  cursor: pointer;
  color: #621402;
  background: #FE8E05;
  border: 1px solid #FE8E05;
}
.header .session-container .session-wrapper .date .date-block .date-item:active, .header .session-container .session-wrapper .date .date-block .date-item:focus {
  cursor: pointer;
  color: #621402;
  background: #FE8E05;
  border: 1px solid #FE8E05;
}
.header .session-container .session-wrapper .cinema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 960px) {
  .header .session-container .session-wrapper .cinema {
    margin-right: 45px;
  }
}
@media (max-width: 992px) {
  .header .session-container .session-wrapper .cinema {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 600px) {
  .header .session-container .session-wrapper .cinema {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 40px;
  }
}
.header .session-container .session-wrapper .cinema .session-label {
  margin-bottom: 20px;
}
.header .session-container .session-wrapper .cinema .cinema-wrapper {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .session-container .session-wrapper .cinema .cinema-wrapper .cinema-list {
  width: 470px;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  padding: 18px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header .session-container .session-wrapper .cinema .cinema-wrapper .cinema-list {
    width: 100%;
  }
}
.header .session-container .session-wrapper .cinema .cinema-wrapper .cinema-list:focus {
  outline: none;
}
.header .session-container .session-wrapper .cinema .cinema-wrapper .cinema-list option {
  background: #621402;
  color: #fff;
  height: 50px;
}
.header .session-container .session-wrapper .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 992px) {
  .header .session-container .session-wrapper .time {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.header .session-container .session-wrapper .time .session-label {
  margin-bottom: 20px;
}
.header .session-container .session-wrapper .time .time-wrapper {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .session-container .session-wrapper .time .time-wrapper .time-list {
  width: 100px;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  padding: 13px;
  cursor: pointer;
}
.header .session-container .session-wrapper .time .time-wrapper .time-list:focus {
  outline: none;
}
.header .session-container .session-wrapper .time .time-wrapper .time-list option {
  background: #621402;
  color: #fff;
  height: 50px;
}

.scheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 63px;
}
.scheme-container {
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
}
.scheme-container .scheme-svg {
  min-width: 1170px;
  max-width: 1170px;
}
@media (max-width: 1200px) {
  .scheme-container .scheme-svg {
    min-width: 920px;
  }
}
@media (max-width: 1200px) {
  .scheme-container .scheme-svg {
    min-width: 720px;
  }
}
@media (max-width: 768px) {
  .scheme-container .scheme-svg {
    min-width: 90%;
  }
}
.scheme-container path:not(.light, .active-default, .default) {
  fill: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.scheme-container path:not(.light, .active-default, .default):hover {
  fill: rgba(255, 255, 255, 0.5);
}
.scheme-container path.booked {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}
.scheme-container path.booked:hover {
  fill: rgba(255, 255, 255, 0.05);
}
.scheme-container path.active {
  fill: #fe8e05;
}
.scheme-container path.active:hover {
  fill: #fe8e05;
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 600px) {
  .price-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.price-block-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.price-block-inner .price-text {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}
.price-block-inner .price {
  font-size: 36px;
  line-height: 39px;
}
.price-block-inner .price strong {
  font-size: 52px;
  line-height: 61px;
}
@media (max-width: 600px) {
  .price-block-inner {
    margin-bottom: 40px;
  }
}
.price-block .btn {
  font-size: 18px;
  line-height: 21px;
  background: #FE8E05;
  border-radius: 5px;
  padding: 24px 52px;
  color: #fff;
  border: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.price-block .btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.session-label {
  font-size: 16px;
  line-height: 19px;
}
