


//fonts



//color

$header-logo: #F1CDB3;;
$logo-caption: #FFFFFF;
$menu-item: #FAFAFA;
$menu-link-before: #F1CDB3;
$menu-burger: #F1CDB3;
$notonly-title: #FFFFFF;
$notonly-text: #CDCDCD;
$notonly-btn-bg: #F1CDB3;
$notonly-btn-bg-hover: #FDDCC4;
$notonly-btn-text: #292929;
$about-bg: #FFFFFF;
$about-title: #545454;
$about-text: #4C4C4C;
$friends-bg: #F6F6F6;
$friends-title: #545454;
$friends-item-bg: #FAFAFA;
$friend-name: #545454;
$friends-btn-border: #F1CDB3;
$friends-btn-text: #292929;
$friends-btn-bg-hover: #FDDCC4;
$help-bg: #FFFFFF;
$features-item-text: #545454;
$addition-bg: #F6F6F6;
$addition-text: #545454;
$card-bg: #F1CDB3;
$card-text: #545454;
$card-bg-hover: #FDDCC4;
$addition-capture: #B2B2B2;
$footer-title: #FFFFFF;
$footer-text: #F1CDB3;
$popup-bg: #FAFAFA;
$popup-title: #000000;
$close-btn: #292929;
$close-btn-hover: #FDDCC4;