@import 'null';
@import 'vars';
@import 'mixins';

html{
    scroll-behavior: smooth;
    font-family: $fontfamily;
}
body{
    margin: 0 auto;
    
}

.body.lock{
    @media (max-width: 992px){
        overflow: hidden;
    }
    
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

//header
//=========================

.header{
    max-width: 1920px;
    // width: 1920px;
    height: 94px;
    background-color: $header-bg;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
    z-index: 99;
    display: block;
    margin: 0 auto;

    &-container{
        height: 100%;   
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 3;
        max-width: 1660px;
        padding: 0 20px;
        
        .menu{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $header-bg;
            z-index: 3;
            
            .header-logo{
                display: flex;
                margin-right: auto;
                font-family: $fontfamily;
                color: $header-text;
                font-weight: 900;
                margin-top: -7px;
                margin-left: 10px;
                margin-right: 10px;
                cursor: pointer;
                z-index: 3;
                &-title{
                    @include fontsize(36px, 42px);  
                }
                &-subtitle{
                    @include fontsize(18px, 21px);
                    letter-spacing: .08em;
                    margin-top: -7px;
                }
                @media (max-width: 992px){
                    margin: 0 auto;
                    padding-left: 5%;
                }
            }
            &-icon{
                position: relative;
                z-index: 3;
                margin-left: 34px;
                @media (max-width:  992px){
                    width: 40px;
                    height: 21px;
                    display: block;
                    cursor: pointer;
                    
                    span{
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $header-burger;
                    }
                    
                    &:before,
                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: $header-burger;
                        transition: all .3s linear;
                    }
                    &:before{
                        top: 0;
                        left: 0;
                    }
                    &:after{
                        width: 33px;
                        bottom: 0;
                        right: 0;
                    }
                    &._active:before{
                        top: 9px;
                        transform: rotate(-45deg);
                    }
                    &._active:after{
                        bottom: 9px;
                        width: 40px;
                        transform: rotate(45deg);
                    }
                    &._active span{
                        transform: scale(0);
                    }
                }
            }
            
            &-body{
                flex: 1 1 auto;
                display: flex;
                justify-content: center;
                position: relative;
                z-index: 2;
                margin-top: 5px;
                min-width: 590px;
                @media (max-width: 992px){
                    position: fixed;
                    top: 10px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 94px 0 0 0;
                    overflow: auto;
                    background-color: $header-bg;
                    margin-left: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s linear;
                    &:after{
                        content: '';
                        height: 94px;
                        width: 100%;
                        top: 0;
                        left: 0;
                        position: fixed;
                        background-color: $header-bg;
                    }
                    &._active{
                        top: 0;
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .menu-list{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;                   
                    font-family: $fontfamily;
                    font-weight: 400;
                    @include fontsize(16px, 19px);
                    color: $header-text;
                    @media (max-width: 992px){
                        display: flex;
                        flex-direction: column;
                        @include fontsize(24px, 49px);
                    }    
                    li{
                        margin-right: 82px;
                          
                            &:last-child{
                            margin-right: 0;
                            @media (max-width: 992px){
                                margin-right: 82px;
                            }  
                        }
                        &:hover{
                            text-decoration: underline;
                        }

                        .menu-link{
                            cursor: pointer;
                            text-decoration: none;
                            color: $header-text;
                        }
                        .active{
                            font-weight: 900;
                            text-decoration: underline;
                        }
                    }
                    
                }
            }

            &-switch-themes{
                display: flex;
                .checkbox{
                    opacity: 0;
                    position: absolute;
                }
                .label{
                    width: 54px;
                    height: 30px;
                    border-radius: 190px;
                    background-color: $header-switch-light;
                    display: flex;
                    padding: 5px 6px;

                    .theme-light{
                        background-color: $header-switch-light;
                    }
                    .theme-darck{
                        background-color: $header-switch-darck;
                    }
                    .circle{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: $header-bg;
                        box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
                    }
                }
            }

           
        }
    }
}


//gallery
//=======================

.gallery{
    display: flex;
    max-width: 1920px;
    height: 940px;
    background: url('/assets/images/main-bg.jpg') center no-repeat;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;
    &-container{
        margin: 0;
        padding-left: 360px;
        width: 1400px;
        height: 100%;
        position: relative;
        .gallery-title{
            width: 800px;
            margin-top: 206px;
            font-family: $fontfamily;
            @include fontsize(89px, 104px);
            color: $gallery-title;
            font-weight: 900;
            vertical-align: top;
            text-align: left;
            margin-bottom: 37px;
        }

        .gallery-block{
            display: flex;
            .gallery-social{
                position: absolute;
                left: 152px;
                bottom: 135px;
                .social-list{

                    .list-item{

                        a {
                            .social-icon{
                                width: 20px;
                                height: 20px;
                                fill: #fefefe;
                                margin-top: 15px;
                            }
                            &:hover .social-icon{
                                fill: $gallery-btn-bg;
                            }
                        }
                    }
                }

            }
            .gallery-btn{
               flex: 0 0 245px;
               width: 245px;
               height: 55px;
               border: inherit;
               border-radius: 3px;
               text-align: center;
               padding: 18px 39px 16px 76px;
               text-transform: uppercase;
               color: $header-bg;
               font-family: $fontfamily;
               font-weight: 900;
               @include fontsize(18px, 21px);
               background: url('/assets/icons/btn-icon.svg') 39px no-repeat;
               background-color: $gallery-btn-bg;
               cursor: pointer;
               margin-right: 235px;
                
               &:hover{
                   background-color: $gallery-btn-bg-hover;
               }
            }

            .gallery-slider{
                display: flex;
                align-items: center;
                position: relative;
                flex: 0 0 50%;
                // transform: translateX(-50%);
                margin-top: -57px;
                span{
                    position: relative;
                    display: inline-flex;
                    width: 5px;
                    height: 5px;
                    background-color: $gallery-title;
                    border-radius: 50%;
                    margin-right: 132px;
                    &:before{
                        content: '';
                        top: -4px;
                        left: -4px;
                        width: 13px;
                        height: 13px;
                        border: 1px solid $gallery-title;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                    }
                    &:after{
                        content: '';
                        left: 0;
                        top: 2px;
                        width: 1200px;
                        height: 1px;
                        background-color: $gallery-title;
                        display: block;
                        position: absolute;
                    }
                }
                .slider-wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    .slider-block{
                        height: 352px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 4;
                        .slider-item{  
                            position: relative;
                            margin-right: 46px;
                            transition: all .2s linear;
                            // width: 140px;
                            // height: 203px;
                            & img{
                                object-fit: cover;
                                width: 140px;
                                height: 203px;
                                border-radius: 5px;
                            }
                            &:hover img{          
                                // align-items: center;      
                                width: 245px;
                                height: 352px;
                                transform-origin: center;
                            }
    
                            p,
                            a{
                                display: none;
                            }
                            .slider-item-title{
                                position: absolute;
                                @include fontsize(14px, 16px);
                                vertical-align: top;
                                color: $header-bg;
                                width: 180px;
                                text-align: left;
                                left: 23px;
                                top: 232px;
                            }
    
                            &:hover p{
                                display: flex;
    
                            }
                            &:hover .link{
                                position: absolute;
                                display: inline-block;
                                background-color: transparent;
                                cursor: pointer;
                                font-weight: 500;
                            }
    
                            .link:hover svg path{
                                fill: #4BD8B5;
                            }
    
                            .link:hover svg circle{
                                stroke: #4BD8B5;
                            }
    
                            &:hover .slider-link-1{
                                width: 110px;
                                height: 24px;
                                bottom: 34px;
                                left: 23px;
                                margin-right: 10px;
                            }
                            &:hover .slider-link-2{
                                bottom: 34px;
                                right: 25px;
                                width: 74px;
                                height: 24px;
                                // margin-bottom: 34px;
                            }
                        }
                    }
    
                    .slider-control{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: absolute;
                        bottom: -50px;
                        left: 282px;
                        color: $gallery-title;
                        .item-number{
                            @include fontsize(24px, 28px);
                            font-weight: 900;
                            margin-bottom: 14px;
                            small{
                                @include fontsize(14px, 16px);
                                color: $gallery-control-bg;
                            }
                        }

                        .control-elem{
                            width: 245px;
                            height: 5px;
                            background-color: $gallery-control-bg;
                            margin-left: -96px;
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                display: inline-flex;
                                background-color: $gallery-title;
                                width: 30px;
                                height: 10px;
                                left: 30px;
                                top: -2.5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//bottom
//=====================

.btn{
    width: 245px;
    height: 55px;
    border: inherit;
    border-radius: 3px;
    text-align: center;
    padding: 18px 39px 16px 76px;
    text-transform: uppercase;
    color: $header-bg;
    font-family: $fontfamily;
    font-weight: 900;
    @include fontsize(18px, 21px);
    background: url('/assets/icons/btn-icon.svg') 39px no-repeat;
    background-color: $gallery-btn-bg;
    cursor: pointer;
    margin-right: 235px;
    
    &:hover{
        background-color: $gallery-btn-bg-hover;
    }
}

//control
//=============

.control{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $zoo-title;
    width: 100%;
    height: 59px;
    margin: 30px auto;
    .item-number{
        @include fontsize(24px, 28px);
        font-weight: 900;
        margin-bottom: 11px;
        span{
            @include fontsize(14px, 16px);
            color: $about-control-light;
        }
    }

    .control-elem{
        width: 245px;
        height: 5px;
        background-color: $about-control-light;
        margin-left: 0;
        position: relative;
        // margin-bottom: 30px;
        &::after {
            content: "";
            position: absolute;
            // display: inline-flex;
            background-color: $about-title;
            width: 30px;
            height: 10px;
            left: 0;
            top: -2.5px;
            cursor: pointer;
        }
        &:hover::after{
            filter: brightness(20%)
        }
    } 
}

//title
//===================

.title{
    @include fontsize(48px, 56px);
    font-weight: 900;
    color: $zoo-title;
    margin-bottom: 35px;
}

//zoo
//==================

//active
//=======================

.active{

}

.zoo{
    max-width: 1920px;
    height: 854px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 100px 0;
    margin: 0 auto;
    &-container{
        max-width: 1240px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .zoo-title{
            @include fontsize(48px, 56px);
            font-weight: 900;
            color: $zoo-title;
            margin-bottom: 35px;
        }

        .zoo-text{
            width: 790px;
            text-align: left;
            @include fontsize(14px, 16px);
            font-weight: 400;
            color: $pay-item-title;
            margin-bottom: 35px;
        }

        .zoo-slider{
            width: 1240px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
            .zoo-slider-body{
                height: 157px;
                display: flex;
                align-items: center;
                margin: 0 auto;
                // margin-left: -42px;
                .slider-items{
                    width: 1200px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    .slider-item{  
                        position: relative;
                        margin-right: 30px;
                        transition: all .2s linear;
                        & img{
                            object-fit: cover;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            position: relative;

                        }
                        &:hover img{          
                            align-items: center;    
                            width: 137px;
                            height: 137px;
                            transform-origin: center;
                        }
                        

    
                       .border{
                        opacity: 0;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 157px;
                        height: 157px;
                        background: url('/assets/icons/border.png') no-repeat;
                       }

                       .active{
                            opacity: 1;
                       }
                    }
                }
                
                .slide-btn{
                    width: 18px;
                    height: 30px;
                    cursor: pointer;
                    z-index: 5;
                }
                .slide-btn:hover{
                    filter: brightness(60%);
                }
                .prev{
                    margin-right: 26px;

                }
                .next{
                    transform: rotate(180deg);
                    margin-left: 26px;
                }
            }
            .zoo-slider-control{
                display: flex;
                align-items: center;
                flex-direction: column;
                color: $zoo-title;
                width: 100%;
                height: 59px;
                margin: 30px auto;
                .item-number{
                    @include fontsize(24px, 28px);
                    font-weight: 900;
                    margin-bottom: 11px;
                    span{
                        @include fontsize(14px, 16px);
                        color: $about-control-light;
                    }
                }

                .control-elem{
                    width: 245px;
                    height: 5px;
                    background-color: $about-control-light;
                    margin-left: 0;
                    position: relative;
                    // margin-bottom: 30px;
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: $about-title;
                        width: 30px;
                        height: 10px;
                        left: 0;
                        top: -2.5px;
                        cursor: pointer;
                    }
                    &:hover::after{
                        filter: brightness(20%)
                    }
                } 
            }
            .zoo-btn{
                display: block;
                background: transparent;
                background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
                padding: 18px 17px 16px 18px;
                transition: all .2s linear;
                margin: 0 auto;
            }
        }
    }
}


//map
//======================

.map{
    width: 1920px;
    height: 904px;
    
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
    background-color: $map-bg;
    position: relative;
    &-container{
        max-width: 1200px;
        height: 497px;

        .map-wrapper{
            width: 100%;
            height: 100%;
            background: url('/assets/images/map-bg.png') center no-repeat;
            background-size: cover;
            // position: relative;
            .map-item{
                cursor: pointer;
                    .item-inner-1{
                            width: 436px;
                            height: 149px;
                            border-radius: 8px;
                            background-color: $testimonials-item;
                            display: flex;
                            box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
                            padding: 40px 55px 44px 44px;
                            opacity: 0;
                            img{
                                width: 65px;
                                height: 65px;
                                margin-right: 20px;
                            }
                            .item-info{
                                display: flex;
                                align-items: flex-start;
                                flex-direction: column;
                                justify-content: flex-start;
                                .item-title{
                                    @include fontsize(18px, 21px);
                                    font-weight: 900;
                                    color: $header-burger;
                                    margin-bottom: 7px;
                                }
                                .item-text{
                                    @include fontsize(14px, 16px);
                                    font-weight: 400;
                                    color: $pay-item-title;
                                    margin-bottom: 5px;
                                    strong{
                                        font-weight: 500;
                                        color: $header-burger;
                                        margin-right: 5px;
                                    }
                                }
        
                            }
                        }
                

                .animal-1{
                    position: absolute;
                    top: 278px;
                    left: 496px;
                    display: flex;
                    z-index: 5;

                    &:before{
                        content: '';
                        position: absolute;
                        width: 66px;
                        height: 93px;
                        background: url('/assets/icons/map-elem-bg.png') no-repeat;
                        top: -10px;
                        left: -12.5px;
                    }
                    &:hover:before{
                        filter: grayscale(30%);
                    }                   
                    .image img{
                        position: relative;
                        width: 43px;
                    }
                    &:hover ~ .item-inner-1{
                        opacity: 1;
                        // z-index: 2;
                    }
                }
                .item-inner-2{
                    width: 436px;
                    height: 149px;
                    border-radius: 8px;
                    background-color: $testimonials-item;
                    display: flex;
                    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
                    padding: 40px 55px 44px 44px;
                    z-index: 5;
                    opacity: 0;
                    img{
                        width: 65px;
                        height: 65px;
                        margin-right: 20px;
                    }
                    .item-info{
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: flex-start;
                        .item-title{
                            @include fontsize(18px, 21px);
                            font-weight: 900;
                            color: $header-burger;
                            margin-bottom: 7px;
                        }
                        .item-text{
                            @include fontsize(14px, 16px);
                            font-weight: 400;
                            color: $pay-item-title;
                            margin-bottom: 5px;
                            strong{
                                font-weight: 500;
                                color: $header-burger;
                                margin-right: 5px;
                            }
                        }

                    }
                }
                .animal-2{
                    position: absolute;
                    top: 303px;
                    left: 616px;
                    display: flex;

                    
                    &:before{
                        content: '';
                        position: absolute;
                        width: 66px;
                        height: 93px;
                        background: url('/assets/icons/map-elem-bg.png') no-repeat;
                        top: -11px;
                        left: -11.5px;
                        z-index: 0;
                    }
                    &:hover:before{
                        filter: grayscale(30%);
                    }
                    .image img{
                        position: relative;
                        width: 43px;
                        height: 43px;
                    }
                    &:hover ~ .item-inner-2{
                        opacity: 1;
                    }
                }

                .item-inner-3{
                    width: 436px;
                    height: 149px;
                    border-radius: 8px;
                    background-color: $testimonials-item;
                    display: flex;
                    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
                    padding: 40px 55px 44px 44px;
                    z-index: 5;
                    opacity: 0;
                    img{
                        width: 65px;
                        height: 65px;
                        margin-right: 20px;
                    }
                    .item-info{
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: flex-start;
                        .item-title{
                            @include fontsize(18px, 21px);
                            font-weight: 900;
                            color: $header-burger;
                            margin-bottom: 7px;
                        }
                        .item-text{
                            @include fontsize(14px, 16px);
                            font-weight: 400;
                            color: $pay-item-title;
                            margin-bottom: 5px;
                            strong{
                                font-weight: 500;
                                color: $header-burger;
                                margin-right: 5px;
                            }
                        }

                    }
                }
                .animal-3{
                    position: absolute;
                    top: 392px;
                    left: 941px;
                    display: flex;

                    
                    &:before{
                        content: '';
                        position: absolute;
                        width: 66px;
                        height: 93px;
                        background: url('/assets/icons/map-elem-bg.png') no-repeat;
                        top: -11px;
                        left: -11.5px;
                        z-index: 0;
                    }
                    .image img{
                        position: relative;
                        width: 43px;
                        height: 43px;
                    }
                    &:hover:before{
                        filter: grayscale(30%);
                    }
                    &:hover ~ .item-inner-3{
                        opacity: 1;
                    }
                }

                .item-inner-4{
                    width: 436px;
                    height: 149px;
                    border-radius: 8px;
                    background-color: $testimonials-item;
                    display: flex;
                    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
                    padding: 40px 55px 44px 44px;
                    z-index: 5;
                    opacity: 0;
                    img{
                        width: 65px;
                        height: 65px;
                        margin-right: 20px;
                    }
                    .item-info{
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: flex-start;
                        .item-title{
                            @include fontsize(18px, 21px);
                            font-weight: 900;
                            color: $header-burger;
                            margin-bottom: 7px;
                        }
                        .item-text{
                            @include fontsize(14px, 16px);
                            font-weight: 400;
                            color: $pay-item-title;
                            margin-bottom: 5px;
                            strong{
                                font-weight: 500;
                                color: $header-burger;
                                margin-right: 5px;
                            }
                        }

                    }
                }
                .animal-4{
                    position: absolute;
                    top: 285px;
                    left: 1253px;
                    display: flex;

                    
                    &:before{
                        content: '';
                        position: absolute;
                        width: 66px;
                        height: 93px;
                        background: url('/assets/icons/map-elem-bg.png') no-repeat;
                        top: -11px;
                        left: -11.5px;
                        z-index: 0;
                    }
                    .image img{
                        position: relative;
                        width: 43px;
                        height: 43px;
                    }
                    &:hover:before{
                        filter: grayscale(30%);
                    }
                    &:hover ~ .item-inner-4{
                        opacity: 1;
                    }
                }
            }
        }

        .map-btn{
            display: block;
            margin: 0 auto;
            margin-top: 35px;
        }
    }
}

//footer
//===============

.footer{
    max-width: 1920px;
    height: 751px;
    display: flex;
    background-color: $footer-bg;
    padding-top: 90px;
    margin: 0 auto;
    &-container{
        max-width: 1660px;
        padding: 0 20px;

        .footer-wrapper{
            width: 1660px;
            height: 518px;
            display: flex;
            justify-content: space-around;
            .footer-col-1{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-right: 441px;

                .footer-title{
                    display: flex;
                    flex-direction: column;
                    margin-right: auto;
                    font-family: $fontfamily;
                    color: $footer-title;
                    font-weight: 900;
                    cursor: pointer;
                    z-index: 3;
                    .footer-logo-title{
                        @include fontsize(36px, 42px);  
                    }
                    .footer-logo-subtitle{
                        @include fontsize(18px, 21px);
                        letter-spacing: .08em;
                        margin-top: -7px;
                    } 
                }
                .footer-subtitle{
                    @include fontsize(20px, 23px); 
                    font-weight: 900;
                    color: $footer-title; 
                    margin-top: 67px;
                    margin-bottom: 33px;
                }

                .footer-form{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .input-label{
                        @include fontsize(14px, 16px); 
                        font-weight: 400;
                        color: $footer-form-input; 
                        position: relative;
                        margin-bottom: 30px;
                        .footer-input{
                            width: 383px;
                            background: transparent;
                            border: none;
                            border-bottom: 1px solid #BDBDBD;
                            position: absolute;
                            left: 0;
                            top: 10px;
                        }
                    
                    }
                    .footer-text{
                        display: block;
                        width: 383px;
                        height: 115px;
                        border: 1px solid #BDBDBD;
                        border-radius: 3px;
                        position: relative;

                        .text-label{
                            width: 155px;
                            height: 12px;
                            padding: 0 5px;
                            @include fontsize(12px, 14px); 
                            font-weight: 400;
                            color: $footer-form-input; 
                            position: absolute;
                            left: 3px;
                            top: -7px;
                            z-index: 5;
                            background-color: $footer-bg;
                        }
                    }

                    .footer-checkbox{
                        display: inline-flex;
                        width: 13px;
                        height: 13px;
                        border: 1px solid #BDBDBD;
                        border-radius: 3px; 
                        position: relative;
                        margin-top: 26px;

                        label{
                            position: absolute;
                            @include fontsize(12px, 14px); 
                            font-weight: 400;
                            color: $footer-form-input; 
                            width: 224px;
                            height: 14px;
                            left: 19px;
                        }
                    }

                    .footer-btn{
                        width: 108px;
                        height: 16px;
                        text-align: start;
                        border: none;
                        background: transparent;
                        text-transform: uppercase;
                        @include fontsize(14px, 16px); 
                        font-weight: 500;
                        color: $footer-title; 
                        background: url('/assets/icons/footer-arrow.png') right no-repeat;
                        margin-top: 20px;
                        margin-left: 259px;
                    }
                }
            }

            .footer-col-2{
                display: flex;
                flex-direction: column;
                margin: 0;
                .footer-menu-body{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .footer-menu-list{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;                   
                        font-family: $fontfamily;
                        font-weight: 500;
                        @include fontsize(16px, 18px);
                        color: $footer-title;
                        margin-right: 140px;
                        // @media (max-width: 992px){
                        //     display: flex;
                        //     flex-direction: column;
                        //     @include fontsize(24px, 49px);
                        // }    
                        li{
                            list-style: none;
                            margin-right: 73px;
                              
                                &:last-child{
                                margin-right: 0;
                                @media (max-width: 992px){
                                    margin-right: 82px;
                                }  
                            }
                            &:hover{
                                text-decoration: underline;
                            }
    
                            .footer-menu-link{
                                cursor: pointer;
                                text-decoration: none;
                                color: $footer-title;
                            }
                        }
                        
                    }

                    .footer-btn{
                        background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
                        width: 279px;
                        padding: 17px 26px;
                        margin-right: 0;
                    }
                }

                .footer-online{
                    @include fontsize(14px, 16px); 
                    font-weight: 700;
                    color: $footer-title; 
                    margin-top: 57px;
                    margin-bottom: 35px;
                    text-transform: uppercase;
                }

                .footer-info{
                    @include fontsize(14px, 16px); 
                    font-weight: 400;
                    color: $footer-title; 
                    margin-bottom: 5px;
                }

                .footer-open-time,
                .footer-email{
                    margin-bottom: 20px;
                }

                .social-list{
                    display: flex;
                    width: 135px;
                    .list-item{
                        a{
                            .social-icon{
                             width: 20px;
                            height: 20px;
                            fill: $footer-title;
                            margin-right: 15px;                                
                            }
                            &:hover .social-icon{
                                fill: $gallery-btn-bg;
                            }
                        }
                    }
                }
            }

        }
        .footer-line{
            display: block;
            width: 100%;
            height: 1px;
            background-color: $footer-title;
            margin-bottom: 26px;
        }
        .footer-copyright{
            @include fontsize(12px, 14px); 
            font-weight: 400;
            color: $footer-copyright; 
            margin-bottom: 5px;
        }
    }
}

