html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.header-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #F7F7F7;
}
.header-container .header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-container .header-body .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 721px) {
  .header-container .header-body .header-logo {
    margin: 0 auto;
  }
}
.header-container .header-body .header-logo a {
  color: #F7F7F7;
  text-decoration: none;
}
.header-container .header-body .header-logo a .logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  margin-left: 15px;
}
.header-container .header-body .nav-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 60px;
}
.header-container .header-body .nav-header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-container .header-body .nav-header .nav-list-item {
  margin-right: 65px;
}
@media (max-width: 993px) {
  .header-container .header-body .nav-header .nav-list-item {
    margin-right: 30px;
  }
}
@media (max-width: 721px) {
  .header-container .header-body .nav-header .nav-list-item {
    display: none;
  }
}
.header-container .header-body .nav-header .nav-list-item:last-child {
  line-height: 60px;
  margin-right: 15px;
  border: 2px solid #CD6326;
  border-radius: 5px;
  padding: 1px 23px;
}
.header-container .header-body .nav-header .nav-list-item a {
  color: #F7F7F7;
  text-decoration: none;
}
.header-container .header-body .nav-header .nav-list-item a:hover {
  text-decoration: underline;
}
.header-container .header-body .nav-header .nav-list-item a:hover:last-child {
  text-decoration: none;
}
.header-container .header-body .nav-header .nav-list .item-1:hover {
  text-decoration: underline;
}
.header-container .header-body .nav-header .nav-list .item-2:hover {
  text-decoration: underline;
}
.header-container .header-body .nav-header .nav-list .item-3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header-container .header-body .nav-header .nav-list .item-4:hover {
  cursor: pointer;
  background: #E39128;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.header-container .header-body .nav-header .nav-list .item-4:focus, .header-container .header-body .nav-header .nav-list .item-4:active {
  outline: none;
  background: #8F5613;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  width: 160px;
  height: 60px;
  background: #CD6326;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 27px;
  color: #F7F7F7;
}
.btn:hover {
  cursor: pointer;
  background: #E39128;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn:focus {
  outline: none;
  background: #8F5613;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.survival {
  height: 780px;
  width: 100%;
  background: url("assets/survival-bg.png") center no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.survival-container {
  font-family: 'Open Sans', sans-serif;
  color: #F7F7F7;
}
.survival-container .survival-inner {
  width: 274px;
}
.survival-container .survival-inner .survival-title {
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 72px;
  color: #CD6326;
  margin-bottom: 51px;
}
.survival-container .survival-inner .survival-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #F7F7F7;
  margin-bottom: 49px;
}
.survival-container .survival-inner .survival-btn {
  margin-bottom: 25px;
  border: 0;
  outline: none;
}
@media (max-width: 720px) {
  .survival {
    height: 600px;
  }
}
.articles {
  height: 1368px;
  background-color: #cccccc;
  margin: 0 auto;
  padding-top: 120px;
  max-width: 1440px;
}
@media (max-width: 1250px) {
  .articles {
    padding-top: 60px;
    height: 900px;
  }
}
.articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
}
.articles-container .articles-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}
.articles-container .articles-header .articles-title {
  font-size: 48px;
  line-height: 72px;
  color: #333333;
  margin-bottom: 20px;
}
.articles-container .articles-header .articles-subtitle {
  font-size: 24px;
  line-height: 36px;
  color: #666666;
  margin-bottom: 120px;
}
@media (max-width: 560px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1250px) {
  .articles-container .articles-header .articles-subtitle {
    margin-bottom: 60px;
  }
}
.articles-container .articles-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 239px;
  width: 100%;
}
@media (max-width: 1250px) {
  .articles-container .articles-slider {
    margin-right: 10px;
    margin-bottom: 120px;
  }
}
@media (max-width: 560px) {
  .articles-container .articles-slider {
    margin-right: 10px;
    margin-bottom: 50px;
  }
}
.articles-container .articles-slider .prev {
  margin-right: 30px;
}
@media (max-width: 1250px) {
  .articles-container .articles-slider .prev {
    margin-right: 10px;
  }
}
.articles-container .articles-slider .prev:hover {
  cursor: pointer;
}
.articles-container .articles-slider .next {
  margin-left: 30px;
}
@media (max-width: 1250px) {
  .articles-container .articles-slider .next {
    margin-left: 10px;
  }
}
.articles-container .articles-slider .next:hover {
  cursor: pointer;
}
.articles-container .articles-slider .slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles-container .articles-slider .slider-list .slider-item {
  max-width: 300px;
  height: 360px;
  margin: 0 30px;
  position: relative;
}
@media (max-width: 1250px) {
  .articles-container .articles-slider .slider-list .slider-item {
    margin: 5px;
    width: 180px;
    height: 216px;
  }
}
@media (max-width: 1250px) {
  .articles-container .articles-slider .slider-list .slider-item img {
    width: 180px;
  }
}
.articles-container .articles-slider .slider-list .slider-item .item-info {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 300px;
}
@media (max-width: 1250px) {
  .articles-container .articles-slider .slider-list .slider-item .item-info {
    bottom: 20px;
  }
}
.articles-container .articles-slider .slider-list .slider-item .item-info .item-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #F7F7F7;
  margin-bottom: 10px;
}
.articles-container .articles-slider .slider-list .slider-item .item-info .item-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: #F7F7F7;
  width: 100%;
}
@media (max-width: 1440px) {
  .articles-container .articles-slider .slider-list .slider-item .item-info .item-subtitle {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .articles-container .articles-slider .slider-list .item-2, .articles-container .articles-slider .slider-list .item-3 {
    display: none;
  }
}
.articles-container .articles-form .form-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 27px;
  line-height: 41px;
  color: #333333;
  margin-bottom: 53px;
}
.articles-container .articles-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles-container .articles-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 680px;
  height: 60px;
}
@media (max-width: 720px) {
  .articles-container .articles-form .form {
    width: 320px;
  }
}
@media (max-width: 560px) {
  .articles-container .articles-form .form {
    width: 250px;
  }
}
.articles-container .articles-form .form .form-input {
  width: 539px;
  height: 60px;
  border: 1px solid #666666;
  background: #cccccc;
  border-right: none;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 27px;
  padding: 0 0 0 15px;
}
@media (max-width: 720px) {
  .articles-container .articles-form .form .form-input {
    width: 300px;
  }
}
@media (max-width: 560px) {
  .articles-container .articles-form .form .form-input{
    width: 200px;
  }
}
.articles-container .articles-form .form .form-input:active, .articles-container .articles-form .form .form-input:focus {
  outline: none;
}
.articles-container .articles-form .form .articles-btn {
  width: 120px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px 5px 5px 0px;
}

.footer {
  max-width: 1440px;
  height: 360px;
  background: url("assets/footer-bg.jpg") center no-repeat;
  margin: 0 auto;
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #F7F7F7;
}
.footer-container .footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 360px;
  width: 100%;
}
@media (max-width: 1120px) {
  .footer-container .footer-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
.footer-container .footer-body .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 120px;
}
@media (max-width: 1120px) {
  .footer-container .footer-body .footer-logo {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 721px) {
  .footer-container .footer-body .footer-logo {
    margin: 0 auto;
  }
}
.footer-container .footer-body .footer-logo a {
  color: #F7F7F7;
  text-decoration: none;
}
.footer-container .footer-body .footer-logo a .logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  margin-left: 15px;
}
.footer-container .footer-body .nav-footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 60px;
}
.footer-container .footer-body .nav-footer .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1120px) {
  .footer-container .footer-body .nav-footer .nav-list {
    margin-bottom: 25px;
  }
}
@media (max-width: 560px) {
  .footer-container .footer-body .nav-footer .nav-list {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer-container .footer-body .nav-footer .nav-list .nav-list-item {
    margin-right: 0;
  }
}

.footer-container .footer-body .nav-footer .nav-list-item {
  margin-right: 65px;
}
.footer-container .footer-body .nav-footer .nav-list-item a {
  color: #F7F7F7;
  text-decoration: none;
}
.footer-container .footer-body .nav-footer .nav-list-item a:hover {
  text-decoration: underline;
}
.footer-container .footer-body .nav-footer .nav-list-item:last-child {
  margin-right: 0;
}
.footer-container .footer-body .social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-container .footer-body .social .social-list .nav-list-item .social-item-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: url("assets/item-1.svg") center no-repeat;
  margin-right: 27px;
}
.footer-container .footer-body .social .social-list .nav-list-item .social-item-1:hover {
  cursor: pointer;
  filter: opacity(0.7)
}
.footer-container .footer-body .social .social-list .nav-list-item .social-item-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: url("assets/item-2.svg") center no-repeat;
  margin-right: 27px;
}
.footer-container .footer-body .social .social-list .nav-list-item .social-item-2:hover {
  cursor: pointer;
  filter: opacity(0.7)
}
.footer-container .footer-body .social .social-list .nav-list-item .social-item-3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: url("assets/item-3.svg") center no-repeat;
  margin-right: 27px;
}
.footer-container .footer-body .social .social-list .nav-list-item .social-item-3:hover {
  cursor: pointer;
  filter: opacity(0.7)
}
.footer-container .footer-body .social .social-list .nav-list-item .social-item-4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: url("assets/item-4.svg") center no-repeat;
}
.footer-container .footer-body .social .social-list .nav-list-item .social-item-4:hover {
  cursor: pointer;
  filter: opacity(0.7)
}
